<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%NAME%} || Node Practice</title>
    <style>
      .description {
        background: #e1e1e1;
        width: 720px;
        margin: 8% auto 0;
        padding: 50px;
        color: rgb(20, 38, 197);
      }

      .description a {
        font-size: 20px;
        text-decoration: none;
        background: #473939;
        color: #eee;
        padding: 5px 10px;
      }

      .description h2 {
        font-size: 2rem;
        text-align: center;
      }

      .description h3 {
        font-size: 1.2rem;
      }
    </style>
  </head>
  <body>
    <div class="description">
      <a href="/">Back</a>
      <h2>{%NAME%}</h2>
      <h3>{%DESCRIPTION%}</h3>
    </div>
  </body>
</html>
